<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.mvpdemo.businessframe">


    <application>

        <service
            android:name=".api.PlatNativeEngineService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.microsingle.lib.business.api.plat.native.service.action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>
</manifest>